<!doctype html>
<html lang="fr" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>BLINDTEST TOTORO </title>
</head>

<body>
  <div class="container pt-1" id="app">
    <img id="richard" height="80px" src="img/richard.png" v-on:click="rotate" />
    <h1 id="top">
      Blindtest Totoro
    </h1>

    <div v-cloak>
      <!-- search -->
      <div id="searchContainer" class="mt-3 mb-3 d-flex sticky-top">
        <form class="row">
          <div class="col-auto mb-2">
            <div class="input-group input-group-sm">
              <button class="btn btn-light" v-on:click="reset">
                &#8635;
              </button>
            </div>
          </div>

          <div class="col-auto mb-2">
            <div class="input-group input-group-sm">
              <div class="input-group-text" id="btnGroupAddon">
                <i class="bi bi-search"></i>
              </div>
              <input type="text" class="form-control" v-model="search" v-on:input="testRichard">
            </div>
          </div>

          <div class="col-auto mb-2">
            <div class="input-group input-group-sm ">
              <label class="input-group-text" for="searchType">Chercher dans</label>
              <select class="form-select" id="searchType" v-model="selected">
                <option v-for="searchType in searchTypes" v-bind:value="searchType.key">
                  {{ searchType.text }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-auto mb-2">
            <div class="input-group input-group-sm ">
              <label class="input-group-text" for="blindtest-select">Blindtest</label>
              <select class="form-select" id="blindtest-select" v-model="selectedBlindtest">
                <option value="">Tous</option>
                <option v-for="blindtest in blindtests" v-bind:value="blindtest.name">
                  {{ blindtest.name }} - {{blindtest.date}}
                </option>
              </select>
            </div>
          </div>

          <div v-if="selected == 'song'" class="col-auto">
            <div class="input-group input-group-sm">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="match-only" v-model="matchOnly">
                <label style="color:white" class="form-check-label " for="match-only">Ne montrer que les pistes qui
                  matchent</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- blindtests -->
      <div class="row blindtest" v-for="blindtest in blindtests" v-if="displayBlindtest(blindtest)">
        <h2 class="text-center mb-3">
          Blindtest {{blindtest.name}}
          <span v-if="blindtest.date">
            - {{blindtest.date}}
          </span>
        </h2>
        <!-- themes -->
        <div class="col-12 col-lg-6 mb-2" v-for="theme in blindtest.themes" v-if="testTheme(theme)">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                {{ theme.title }}
                <a v-if="theme.youtube" class="float-end text-muted" target="_blank" :href="theme.youtube">
                  <i class="bi bi-youtube"></i>
                </a>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ theme.subtitle }}</h6>
              <!-- songs -->
              <ul class="list-group list-group-flush">

                <li v-if="matchOnly && selected == 'song'" v-on:click="expand(theme)" class="text-center list-group-item list-group-item-secondary p-0">
                  <span v-if="themeExpanded != theme">
                    <i class="bi bi-chevron-expand"></i>
                    Afficher tous les éléments de ce thème.
                  </span>
                  <span v-else>
                    <i class="bi bi-chevron-contract"></i>
                    Réduire
                  </span>
                </li>

                <li v-if="displaySong(song, theme)" class="list-group-item" v-for="song in theme.songs" :class="selected == 'song' && testSong(song, theme) ? 'matching-song' : '' ">
                  <span v-if="theme.type != 'double' ">
                    {{ song.fullname }}
                  </span>
                  <span v-if="theme.type == 'double'">
                    <span class="small font-italic text-muted">{{theme.info1}}:</span> {{ song.info[0].fullname }} <span class="autobr"><span class="small font-italic text-muted">{{theme.info2}}:</span> {{
                      song.info[1].fullname }}</span>
                  </span>
                  <a v-if="song.youtube" class="float-end text-muted" target="_blank" :href="song.youtube">
                    <i class="bi bi-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div v-if="!$data" class="text-center">
      <div class="spinner-grow" role="status">
      </div>
      <div class="spinner-grow" role="status">
      </div>
      <div class="spinner-grow" role="status">
      </div>
    </div>

    <a id="backtotop" href="#top">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </a>

    <div id="social">
      <a target="_blank" href="https://twitter.com/afkcafe">
        <i class="bi bi-twitter"></i>
      </a>
      <br />
      <a target="_blank" href="https://www.twitch.tv/totorophd">
        <i class="bi bi-twitch"></i>
      </a>
    </div>

    <div id="theme-switcher">
      <div class="form-check form-switch">
        <label for="themeswitcher" class="ml-auto mb-0"><i class="bi bi-sun"></i> / <i class="bi bi-moon"></i></label>
        <input name="themeswitcher" class="form-check-input" type="checkbox" v-model="darkTheme" v-on:click="switchTheme">
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="data.js"></script>
  <script src="script.js"></script>
</body>

</html>
